@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --text-color: #171717;
  --primary-color: #3b82f6;
  --alert-color: #ef4444;
  --border-color: #a3a3a3;
}

.dark {
  --background: #171717;
  --text-color: #f5f5f5;
  --primary-color: #1d4ed8;
  --alert-color: #991b1b;
  --border-color: #a3a3a3;
}
