@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --background-secondary: #f3f4f6;
  --text-color: #171717;
  --primary-color: #3b82f6;
  --alert-color: #fb2c36;
  --border-color: #a3a3a3;
}

.dark {
  --background: #171717;
  --background-secondary: #262626;
  --text-color: #f5f5f5;
  --primary-color: #1d4ed8;
  --alert-color: #c10007;
  --border-color: #525252;
}
